<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title layout:title-pattern="$CONTENT_TITLE | $DECORATOR_TITLE">admin-console</title>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/components-font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/application.css}" />
</head>
<body>

<nav th:replace="fragments/nav :: navbar">
</nav>

<div>
    <div class="nav-side-menu">
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                    <a th:href="@{/}"><i class="fa fa-home fa-lg"></i><span th:text="#{msg.sidebar.home}"></span></a>
                </li>

                <li data-toggle="collapse" data-target="#products" class="collapsed active">
                    <a href="#"><i class="fa fa-gift fa-lg"></i>UI Elements<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="#">CSS3 Animation</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Tabs &amp; Accordions</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">FontAwesome</a></li>
                    <li><a href="#">Slider</a></li>
                    <li><a href="#">Panels</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Bootstrap Model</a></li>
                </ul>

                <li data-toggle="collapse" data-target="#service" class="collapsed">
                    <a href="#"><i class="fa fa-globe fa-lg"></i>Services<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="service">
                    <li>New Service 1</li>
                    <li>New Service 2</li>
                    <li>New Service 3</li>
                </ul>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#"><i class="fa fa-car fa-lg"></i>New<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                    <li>New New 1</li>
                    <li>New New 2</li>
                    <li>New New 3</li>
                </ul>

                <li>
                    <a th:href="@{/roles}"><i class="fa fa-cogs fa-lg"></i><span th:text="#{msg.sidebar.roles}"></span></a>
                </li>

                <li>
                    <a th:href="@{/users}"><i class="fa fa-users fa-lg"></i><span th:text="#{msg.sidebar.users}"></span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content" layout:fragment="content">
        <p>Static content for prototyping purposes only</p>
    </div>
</div>

<script th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap/dist/js/bootstrap.min.js}"></script>
<script layout:fragment="footer-script"></script>
</body>
</html>
