<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--[if lt IE 9]>
    <script th:src="@{/lib/html5shiv/dist/html5shiv-printshiv.min.js}"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title layout:title-pattern="$CONTENT_TITLE | $DECORATOR_TITLE">SBAC</title>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/components-font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/application.css}" />
    <script th:src="@{/lib/respond-minmax/dest/respond.min.js}"></script>
</head>
<body th:class="|theme-${#authentication.principal.theme.name}|">

<nav th:replace="fragments/nav :: navbar">
</nav>

<div class="content">
    <div class="nav-side-menu" th:replace="fragments/sidebar :: sidebar"></div>
    <div class="main-content" layout:fragment="content"></div>
</div>

<script th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap/dist/js/bootstrap.min.js}"></script>
<script layout:fragment="footer-script"></script>
</body>
</html>
