<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--[if lt IE 9]>
    <script th:src="@{/lib/html5shiv/dist/html5shiv-printshiv.min.js}"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title layout:title-pattern="$CONTENT_TITLE | $DECORATOR_TITLE">SBAC</title>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/components-font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/application.css}" />
    <script th:src="@{/lib/respond-minmax/dest/respond.min.js}"></script>
</head>
<body th:class="${session.theme} ?: 'theme-normal'">

<nav th:replace="fragments/nav :: navbar">
</nav>

<div class="content">
    <div class="nav-side-menu">
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li th:class="${active} == 'home' ? 'active' : ''">
                    <a th:href="@{/}"><i class="fa fa-home fa-lg"></i><span th:text="#{msg.sidebar.home}"></span></a>
                </li>

                <li th:class="${active} == 'services' ? 'active' : ''">
                    <a th:href="@{/services}"><i class="fa fa-power-off fa-lg"></i><span th:text="#{msg.sidebar.services}"></span></a>
                </li>

                <li data-toggle="collapse" data-target="#menu-item-statistics" th:class="${active} == 'statistics' ? 'active collapsed' : ''">
                    <a href="javascript:void(0);"><i class="fa fa-bar-chart fa-lg"></i><span th:text="#{msg.sidebar.statistics}"></span><span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" th:classappend="${active} == 'statistics' ? 'in' : ''" id="menu-item-statistics">
                    <li th:class="${active2} == 'dashboard' ? 'active' : ''"><a th:href="@{/statistics/dashboard}" th:text="#{msg.sidebar.statistics.dashboard}"></a></li>
                    <li th:class="${active2} == 'logs' ? 'active' : ''"><a th:href="@{/statistics/logs}" th:text="#{msg.sidebar.statistics.logs}"></a></li>
                </ul>

                <li th:class="${active} == 'api_settings' ? 'active' : ''">
                    <a th:href="@{/api_settings}"><i class="fa fa-exchange fa-lg"></i><span th:text="#{msg.sidebar.api_settings}"></span></a>
                </li>

                <li th:class="${active} == 'roles' ? 'active' : ''">
                    <a th:href="@{/roles}"><i class="fa fa-cogs fa-lg"></i><span th:text="#{msg.sidebar.roles}"></span></a>
                </li>

                <li th:class="${active} == 'users' ? 'active' : ''">
                    <a th:href="@{/users}"><i class="fa fa-users fa-lg"></i><span th:text="#{msg.sidebar.users}"></span></a>
                </li>

                <li th:class="${active} == 'account_settings' ? 'active' : ''">
                    <a th:href="@{/account_settings}"><i class="fa fa-user fa-lg"></i><span th:text="#{msg.sidebar.account_settings}"></span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content" layout:fragment="content">
        <p>Static content for prototyping purposes only</p>
    </div>
</div>

<script th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap/dist/js/bootstrap.min.js}"></script>
<script layout:fragment="footer-script"></script>
</body>
</html>
