<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <title th:text="#{msg.services.new.title}"></title>
</head>
<body>

<div class="container" layout:fragment="content">
    <h1 th:text="#{msg.services.new.title}"></h1>

    <div class="form-group">
        <form th:action="@{/services/create}" th:object="${serviceForm}" method="post">
            <div class="alert alert-warning" th:if="${#fields.hasErrors()}" th:errors="*">Error</div>

            <div class="form-group">
                <label for="name" th:text="#{model.service.name}"></label>
                <input type="text" th:field="*{name}" th:value="*{name}" class="form-control" required="true" autofocus="true" />
            </div>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
            <input type="submit" class="btn btn-primary" th:value="#{msg.services.new.submit}" />
            <a th:href="@{/services}" class="btn btn-default" th:text="#{msg.general.cancel}"></a>
        </form>
    </div>

</div>

</body>
</html>
