<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <title>Login</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <div class="page-header">
        <h1>Welcome!</h1>
    </div>

    <div class="alert alert-warning" th:if="${param.error}">Invalid username and password.</div>
    <div class="alert alert-info" th:if="${param.logout}">You have been logged out.</div>

    <div class="panel panel-primary" id="panel-login">
        <div class="panel-heading">
            <h3 class="panel-title">Log in to your account</h3>
        </div>
        <div class="panel-body">
            <form class="form-signin" th:action="@{/login}" method="post">
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="true" autofocus="true" />
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="true" />
                <button class="btn btn-primary btn-block" type="submit" style="margin-top:10px;">Login</button>
            </form>
            <div class="forgot-password">
                <a href="#">Forgot password?</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
