<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default"
      th:with="active='roles'">
<head>
    <title th:text="#{msg.roles.title}"></title>
</head>
<body>

<div layout:fragment="content">
    <h1 th:text="#{msg.roles.title}"></h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th th:text="#{model.role.id}"></th>
                <th th:text="#{model.role.name}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entity : ${roleList}">
                <td th:text="${entity.id}"></td>
                <td th:text="${entity.name}"></td>
            </tr>
        </tbody>
    </table>

    <nav th:replace="fragments/pagination ::pagination (page=${roleList}, url='/roles')"></nav>
</div>

</body>
</html>
