<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default"
      th:with="active='account_settings'">
<head>
    <title th:text="#{msg.account_settings.title}"></title>
</head>
<body>

<div layout:fragment="content">
    <h1 th:text="#{msg.account_settings.title}"></h1>

    <h3 th:text="#{msg.account_settings.email.title}"></h3>

    <form>
        <div class="form-group">
            <input type="text" value="xxxx@xxxx.com" class="form-control" />
        </div>
        <input type="submit" th:value="#{msg.account_settings.email.submit}" class="btn btn-primary" />
    </form>

    <h3 th:text="#{msg.account_settings.token.title}"></h3>

    <p th:text="#{msg.account_settings.token.warning}"></p>

    <div class="well">
        d2uvdho4tDCASjoi4tHtRvnoRevJfMtBo9R
    </div>

    <a href="#" class="btn btn-danger" th:text="#{msg.account_settings.token.submit}"></a>

    <h3 th:text="#{msg.account_settings.design.title}"></h3>

    <form th:action="@{/account_settings/update_theme}" th:object="${accountSettingsUpdateThemeForm}" method="post">
        <div class="radio" th:each="theme : ${themeList}">
            <label>
                <input type="radio" th:value="${theme.name}" name="themeName" id="|themeName${theme.id}|" th:checked="${theme.id == #authentication.principal.theme.id}" />
                <span th:text="#{enum.theme.__${theme.name}__}"></span>
            </label>
        </div>
        <input type="submit" th:value="#{msg.general.save}" class="btn btn-primary" />
    </form>
</div>

</body>
</html>
