<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SBAC</title>
</head>
<body>

<div class="nav-side-menu" th:fragment="sidebar">
    <div class="spacer"></div>
    <div class="menu-list">
        <ul class="menu-content collapse out">
            <li class="menu-li-home" th:classappend="${active} == 'home' ? 'active' : ''">
                <a th:href="@{/}" th:text="#{msg.sidebar.home}"></a>
            </li>

            <li class="menu-li-services" th:classappend="${active} == 'services' ? 'active' : ''">
                <a th:href="@{/services}" th:text="#{msg.sidebar.services}"></a>
            </li>

            <li class="menu-li-statistics" data-toggle="collapse" data-target="#menu-item-statistics"
                th:classappend="${active} == 'statistics' ? 'active collapsed' : ''">
                <a href="javascript:void(0);" th:inline="text">[[#{msg.sidebar.statistics}]]<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" th:classappend="${active} == 'statistics' ? 'in' : ''" id="menu-item-statistics">
                <li th:class="${active2} == 'dashboard' ? 'active' : ''"><a th:href="@{/statistics/dashboard}" th:text="#{msg.sidebar.statistics.dashboard}"></a></li>
                <li th:class="${active2} == 'logs' ? 'active' : ''"><a th:href="@{/statistics/logs}" th:text="#{msg.sidebar.statistics.logs}"></a></li>
            </ul>

            <li class="menu-li-api_settings" th:classappend="${active} == 'api_settings' ? 'active' : ''">
                <a th:href="@{/api_settings}" th:text="#{msg.sidebar.api_settings}"></a>
            </li>

            <li class="menu-li-roles" th:classappend="${active} == 'roles' ? 'active' : ''">
                <a th:href="@{/roles}" th:text="#{msg.sidebar.roles}"></a>
            </li>

            <li class="menu-li-users" th:classappend="${active} == 'users' ? 'active' : ''">
                <a th:href="@{/users}" th:text="#{msg.sidebar.users}"></a>
            </li>

            <li class="menu-li-account_settings" th:classappend="${active} == 'account_settings' ? 'active' : ''">
                <a th:href="@{/account_settings}" th:text="#{msg.sidebar.account_settings}"></a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
