<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <title th:text="#{msg.users.title}"></title>
</head>
<body>

<div layout:fragment="content">
    <h1 th:text="#{msg.users.title}"></h1>

    <div class="pull-right">
        <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> <span th:text="#{msg.users.new_user}"></span></a>
    </div>
    <table class="table table-striped">
        <thead>
            <th th:text="#{model.user.id}"></th>
            <th th:text="#{model.user.username}"></th>
        </thead>
        <tr th:each="entity : ${userList}">
            <td th:text="${entity.id}"></td>
            <td th:text="${entity.username}"></td>
        </tr>
    </table>
</div>

</body>
</html>
