<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Login - admin-console</title>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/components-font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body id="body-login">

<div id="panel-login">
    <div class="panel-heading">
        <h3><a th:href="@{/}">Spring Boot Admin Console</a></h3>
    </div>
    <div class="panel-main">
        <div class="panel-body">
            <div class="login-header">
                <div class="alert alert-warning" th:if="${param.error}">Invalid username and password.</div>
                <div class="alert alert-info" th:if="${param.logout}">You have been logged out.</div>
            </div>
            <form class="form-signin" th:action="@{/login}" method="post">
                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control input-lg top" placeholder="Username" required="true" autofocus="true" />
                    <input type="password" id="password" name="password" class="form-control input-lg bottom" placeholder="Password" required="true" />
                </div>
                <button class="btn btn-primary btn-block btn-lg" type="submit">Login</button>
            </form>
            <div class="login-footer">
                <div class="forgot-password">
                    <a href="#">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container footer">
    <div class="row">
        <div class="col-md-8">
            <a href="#">Terms of Service</a>
            |
            <a href="#">Privacy policy</a>
        </div>
        <div class="col-md-4">
            <p class="muted pull-right" th:text="'© ' + #{msg.copyright.year} + ' ' + #{msg.copyright.holder} + '. All rights reserved.'">copyright</p>
        </div>
    </div>
</div>

<script th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap/dist/js/bootstrap.min.js}"></script>
</body>
</html>
